#stats-page {
	margin: 0 10px;
}

#uncontrolled-tab-tabpane-users-stts {
	max-height: 70vh;
	display: flex;
	justify-content: center;
}

#stats-page ul.mb-3.nav.nav-tabs li.nav-item button[aria-selected="false"] {
	color: #6dc71d;
}
