#stats-page {
	margin: 0 10px;
}

#uncontrolled-tab-tabpane-users-stts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-height: 50vh;
}
#uncontrolled-tab-tabpane-posts-stts {
  flex-direction:column;
  align-items:center;
  text-align: center;
}


#stats-page ul.mb-3.nav.nav-tabs li.nav-item button[aria-selected="false"] {
	color: #6dc71d;
}


