.programs-select {
	display: flex;
	align-items: center;
}

.programs-select select {
	width: auto;
}

.programs-select span {
	margin-right: 5px;	
}

/*@media (max-width: 440px) {
  	.programs-select select {
		width: 200px;
	}
}*/