.post-full {
  border-radius: 0;
  border: 0;
  border-bottom: 4px solid #6dc71d;
  margin-bottom: 30px;
}

.post-full>img {
  max-width: 65%;
  height: auto;
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.post-full .text-muted {
  font-size: 0.7rem;
}

.post-full p {
  white-space: break-spaces;
}

.list-group>.list-group-item p {
  white-space: break-spaces;
}