.post {
  border-radius: 0;
  border: 0;
  border-top: 4px solid #6dc71d;
  margin-bottom: 30px;
}

.post a {
  text-decoration: none;
  color: black;
}

.post>.card-body>.post-details .card-subtitle {
  font-size: 0.6rem;
}

.post>.card-body>.post-image-container>a>img {
  float: left;
  margin-right: 15px;
  max-height: 130px;
}

.post>.card-body>img {
  float: left;
  margin-right: 10px;
}

.post>.card-body>.post-details .card-text {
  font-size: 0.8rem;
  margin-top: 15px;
}

@media screen and (max-width: 600px) {
  .post {
    display: flex;
    flex-direction: column;
  }

  .post>.card-body>.post-image-container>a>img {
    float: none;
    max-height: 500px;
    order: 1;
    margin-bottom: 10px;
  }

  .post>.post-details {
    order: 2;
    margin-top: 10px;
  }
}