:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: white;
  color: white;
}

.text-msg {
  background-color: #ff6004;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

button.btn {
  background-color: #6dc71d;
  border: none;
  border-radius: 0;
}

textarea, input {
  border-radius: 0 !important;
}

.spinner-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.spinner-border {
  display: block;
  margin: auto;
  border-color: white;
  border-right-color: #6dc71d;
  border-left-color: #6dc71d;
  padding: 2px;
  background-color: #50aa00;
}