.table-responsive > table.user-table {
	margin-top: 20px;
	border-collapse:separate; 
 	border-spacing: 0 2em;
}

.table-responsive > table.user-table tr td {
	border: none;
}

.table-responsive > table.user-table tr {
	background-color: #f8f9fa;
}

.modal-dialog {
	width: 400px;
  }

.modal-header .modal-title {
	color: rgb(17, 127, 24);
  }

  .modal-body label {
	color: #f81818; /* replace with your desired color */
  }
  

.modal-content {
	background-color: #a8f4af;
  }
  