#admin-page {
	margin: 0 10px;
}

.table-responsive > table.user-table {
	margin-top: 20px;
	border-collapse:separate; 
 	border-spacing: 0 2em;
}

.table-responsive > table.user-table tr td {
	border: none;
}

.table-responsive > table.user-table tr {
	background-color: #f8f9fa;
}

.modal-dialog {
	width: 400px;
}

.modal-header .modal-title {
	color: rgb(17, 127, 24);
}

.modal-content {
	background-color: #a8f4af;
}

.new-user-btn {
	background-color: blue;
	color: white;
}

.btn-light-green:hover {
	background-color: #7ed957;
	border-color: #7ed957;
	color:white;
}

.btn-search-container {
	display: flex;
	align-items: center;
}
  
.custom-search {
	height: 40px;
	padding: 8px 16px;
	font-size: 16px;
	flex-grow: 1;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
  
.btn-search-container button {
	height: 40px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
  
  
  
  

